<%- include('partials/head', { pageTitle: pageTitle }) %>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center font-sans">
  <%- include('partials/nav') %>
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <form action="/host/add-home" method="POST" class="space-y-4">
      <input 
        type="text"
        name="houseName" 
        placeholder="Name of your house" required>
      <br>
      <button type="submit">Add Home</button>
    </form>
  </div>
</body>
</html>